<!DOCTYPE html>
<html>
<head>
    <title>Tender List</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<h1>Current Tenders</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    <% for(let i=0; i<tenders.length; i++) {%>
        <tr>
            <td><%= tenders[i].id %></td>
            <td><a href="/tender/<%= tenders[i].id %>"><%= tenders[i].name %></a></td>
            <td><%= tenders[i].start_date %></td>
            <td><%= tenders[i].end_date %></td>
        </tr>
    <% } %>
</table>
<%- include('partials/navigation.ejs') %>
</body>
</html>
